*.class
*.jar
*.war
*.ear

**/build/
**/out/
**/target/

.idea/
*.iml
*.iws

.gradle/
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties
**/gradlew
**/gradlew.bat

.mvn/
**/mvnw
**/mvnw.cmd
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties

.DS_Store

*.log
**/spring.log

.env
*.env

*.swp
*~
